.App {
  text-align: center;
  height: 100vh;
  background-color: lightgray;
  display: flex;
}

.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
  .textarea {
    outline: none;
  min-width: 300px;
    border: 0.5px solid gray;
    border-radius: 5px;
  }

  .toxic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
